doctype html
//File: service.pug
  //Authors' Name: Yash Patel
  //Purpose: view of service
html
  head

    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css' )
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
  body
  .header
    block content
      .col-md-6
        .col-md-2
            a(href='/') Home
        .col-md-2
            a(href='/login') login 
        .col-md-2
            a(href='/register') register
        .col-md-2
            a(href='/add') add

            </div>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')

    //File: service.pug
  //Authors' Name: Yash Patel
  //Purpose: view of service